<h1>Merchants</h1>

<table>
  <thead>
    <tr>
      <th>Merchant name</th>
      <th>Merchant address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.merchant_name %></td>
        <td><%= merchant.merchant_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>